In [23]:
%reload_ext autoreload
%autoreload 2

In [30]:
import alphalens
import sys
sys.path.append("..")

import pandas as pd

In [66]:
%%time
my_factor=pd.read_csv('./data/my_factor.csv',dtype={'asset':str})
#multiIndex [date,asset]
my_factor['date']=pd.to_datetime(my_factor['date'])
my_factor=my_factor.set_index(['date','asset'])
pricing=pd.read_csv('./data/pricing.csv')
pricing['date']=pd.to_datetime(pricing['date'])
pricing=pricing.set_index('date')

Wall time: 814 ms

In [63]:
print(my_factor.index.levels[0].dayofweek)

Int64Index([0, 1, 2, 3, 4, 0, 1, 2, 3, 4,
            ...
            4, 0, 1, 2, 4, 0, 1, 2, 3, 4],
           dtype='int64', name='date', length=1164)

In [69]:
t=my_factor.index.levels[1]

In [76]:
t.get_value(t,)

TypeError: get_value() missing 1 required positional argument: 'key'

In [65]:
pricing.head()

,000001,000002,000004,000005,000007,000008,000009,000010,000011,000012,...,603989,603990,603991,603992,603993,603995,603996,603997,603998,603999
date,,,,,,,,,,,,,,,,,,,,,
2016-01-04,11.33,24.43,41.31,9.04,23.79,10.61,16.16,9.10,13.07,12.02,...,32.21,NaN,NaN,NaN,4.02,NaN,32.49,24.31,45.93,63.14
2016-01-05,11.40,24.43,38.68,8.90,23.79,10.81,15.40,8.59,12.52,11.68,...,30.79,NaN,NaN,NaN,3.94,NaN,35.74,22.47,43.06,69.45
2016-01-06,11.53,24.43,39.18,9.18,23.79,10.96,15.96,8.94,12.80,12.04,...,31.80,NaN,NaN,NaN,4.33,NaN,39.31,23.31,44.15,76.40
2016-01-07,10.94,24.43,35.26,8.27,23.79,9.99,14.36,8.05,11.52,10.84,...,28.62,NaN,NaN,NaN,3.90,NaN,43.24,20.98,40.03,68.77
2016-01-08,11.12,24.43,35.48,8.30,23.79,9.97,14.50,8.06,11.60,10.95,...,29.31,NaN,NaN,NaN,4.09,NaN,47.56,20.93,39.59,62.03

In [57]:
# Ingest and format data
factor_data = alphalens.utils.get_clean_factor_and_forward_returns(my_factor,
                                                                   pricing,
                                                                   
                                                                   groupby=None,
                                                                   groupby_labels=None
                                                                   )#quantiles=5,
# Run analysis
#alphalens.tears.create_full_tear_sheet(factor_data)

Dropped 100.0% entries from factor data: 100.0% in forward returns computation and 0.0% in binning phase (set max_loss=0 to see potentially suppressed Exceptions).

MaxLossExceededError: max_loss (35.0%) exceeded 100.0%, consider increasing it.

In [77]:
import numpy as np
a = np.array([[1, 2], [3, 4]])
np.concatenate(a)

array([1, 2, 3, 4])

In [80]:
np.array([True,True,False]).sum()

2

In [84]:
import empyrical as ep
s=pd.Series([0.1,0.2,0.3])
ep.cum_returns(s,starting_value=2)

0    2.200
1    2.640
2    3.432
dtype: float64

In [82]:
?ep.cum_returns

Signature: ep.cum_returns(returns, starting_value=0, out=None)
Docstring:
Compute cumulative returns from simple returns.

Parameters
----------
returns : pd.Series, np.ndarray, or pd.DataFrame
    Returns of the strategy as a percentage, noncumulative.
     - Time series with decimal returns.
     - Example::

        2015-07-16   -0.012143
        2015-07-17    0.045350
        2015-07-20    0.030957
        2015-07-21    0.004902

     - Also accepts two dimensional data. In this case, each column is
       cumulated.

starting_value : float, optional
   The starting returns.
out : array-like, optional
    Array to use as output buffer.
    If not passed, a new array will be created.

Returns
-------
cumulative_returns : array-like
    Series of cumulative returns.
File:      c:\users\50257\anaconda3\lib\site-packages\empyrical\stats.py
Type:      function

In [92]:
a=[5,3,2,5]
sorted(a)

[2, 3, 5, 5]

In [93]:
set([1,2,3])-set([2,3,4])

{1}